<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>locations</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- apply same color to all buttons -->
    <style>
    .btn {
      background-color: #b93a5d;
    }
    </style>
</head>

<body>
<div class="container-fluid">

<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-white bg-white">
    <a href="#"><img src="./images/logo.jpg" alt="logo" style="height: 100px"/></a>
    <h1>Findaplace</a></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5 justify-content-end" id="mynavbar">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/location}">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Events or locations...">
            <button class="btn btn-dark" type="button">Search</button>
        </form>
    </div>
</nav>
</div>

<!-- content -->
<div>
    <h1>Shelter Locations</h1>
    <p><a th:href="@{/location/add}">add new location</a></p>
</div>

<div class=>
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="location : ${listLocations}">
            <td>[[${location.name}]]</td>
            <td>[[${location.address}]]</td>
            <td>
                <a th:href="@{'/location/delete/' + ${location.id}}" title = "delete">delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<!-- Footer -->
<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <div class="text-center text-dark p-3 mt-5" style="background-color: rgba(0, 0, 0, 0.2);">
        <img src="/images/home.png" width="100" height="100" class="image-embedded" allowFullScreen>
        </img>
        <div> 2023 Copyright @ Yinyin Wu
        </div>
    </div>
</footer>

<!-- js -->
<script src="/js/index.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'location');
        });
    });
</script>
</body>
</html>