<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FindaPlace</title>

  <link rel="stylesheet" th:href="@{/css/styles.css}">

  <!-- apply same color to all buttons -->
  <style>
    .btn {
      background-color: #b93a5d;
    }
  </style>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-white bg-white">
  <a href="#"><img src="./images/logo.jpg" alt="logo" style="height: 100px"/></a>
  <h1>Findaplace</a></h1>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ms-5 justify-content-end" id="mynavbar">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/locations}" >Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/profile}" >Profile</a>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="text" placeholder="Events or locations...">
      <button class="btn btn-dark" type="button">Search</button>
    </form>

        <!-- only shows this after being signed in -->
      <!--  <div sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authentication="name"></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" id="logout" href="">Logout</a>
        </div>-->
      </ul>
    </div>
  </div>
</nav>
</body>
</html>